<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (usuario()) {
      <div>
        <h2 data-cy="usuarioDetailsHeading"><span>Usuario</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ usuario()!.id }}</span>
          </dd>
          <dt><span>Nome</span></dt>
          <dd>
            <span>{{ usuario()!.nome }}</span>
          </dd>
          <dt><span>Login</span></dt>
          <dd>
            <span>{{ usuario()!.login }}</span>
          </dd>
          <dt><span>Email</span></dt>
          <dd>
            <span>{{ usuario()!.email }}</span>
          </dd>
          <dt><span>Created At</span></dt>
          <dd>
            <span>{{ usuario()!.createdAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Updated At</span></dt>
          <dd>
            <span>{{ usuario()!.updatedAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Deleted At</span></dt>
          <dd>
            <span>{{ usuario()!.deletedAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Perfil</span></dt>
          <dd>
            @if (usuario()!.perfil) {
              <div>
                <a [routerLink]="['/jhipstersemasportariasmicroservico/perfil', usuario()!.perfil?.id, 'view']">{{
                  usuario()!.perfil?.nome
                }}</a>
              </div>
            }
          </dd>
          <dt><span>Setor</span></dt>
          <dd>
            @if (usuario()!.setor) {
              <div>
                <a [routerLink]="['/jhipstersemasportariasmicroservico/setor', usuario()!.setor?.id, 'view']">{{
                  usuario()!.setor?.nome
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/jhipstersemasportariasmicroservico/usuario', usuario()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
