<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (perfil()) {
      <div>
        <h2 data-cy="perfilDetailsHeading"><span>Perfil</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ perfil()!.id }}</span>
          </dd>
          <dt><span>Nome</span></dt>
          <dd>
            <span>{{ perfil()!.nome }}</span>
          </dd>
          <dt><span>Descricao</span></dt>
          <dd>
            <span>{{ perfil()!.descricao }}</span>
          </dd>
          <dt><span>Created At</span></dt>
          <dd>
            <span>{{ perfil()!.createdAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Updated At</span></dt>
          <dd>
            <span>{{ perfil()!.updatedAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Deleted At</span></dt>
          <dd>
            <span>{{ perfil()!.deletedAt | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/jhipstersemasportariasmicroservico/perfil', perfil()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
